@namespace PROJ_UNIVERSIDADE.Models
@model ModelInscricaoView

@{
    Layout = "_layout";
    ViewData["Title"] = "Inscrição";

    var preInscrito = (PreInscrito)ViewBag.preInscrito;
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do candidato</strong>
        </div>
        <form asp-controller="inscricao" asp-action="index" class="form-content">
            <div style="grid-template-columns: repeat(4, 1fr)" class="input-content grid">
                <div class="each-input">
                    <p>Selecionar por</p>
                    <select asp-for="Consulta.Tipo" id="tipoSelect" onchange="trocarTipo()">
                        <option value="0">-- Selecionar --</option>
                        <option value="1">Número da candidatura</option>
                        <option value="2">Nome completo</option>
                    </select>
                </div>
                <div class="each-input col">
                    <p id="textLabel">Identificação</p>
                    <input asp-for="Consulta.Identificacao" required type="text" id="textInput" placeholder="Identificação" />
                </div>
                <div class="each-input">
                    <p style="opacity: 0">Pesquisar</p>
                    <button style="max-width: none" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
        @if(preInscrito != null)
        {
            <div class="form-content large">
                <div class="label-content col">
                    <div class="each-label">
                        <p>Nome completo:</p>
                        <strong>@preInscrito.NomeCompleto</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Número da candidatura:</p>
                        <strong>@preInscrito.CandidaturaID</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Telefone:</p>
                        <strong>@preInscrito.Telefone</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Ano letivo:</p>
                        <strong>@preInscrito.AnoInicio - @preInscrito.AnoFim</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Curso:</p>
                        <strong>@preInscrito.Curso</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Periodo:</p>
                        <strong>@preInscrito.Periodo</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Valor:</p>
                        <strong>@preInscrito.Valor</strong>
                    </div>
                </div>
            </div>
            <form asp-controller="inscricao" asp-action="ConfirmarInscricao" class="form-content">
                <input name="candidatoId" value="@preInscrito.CandidaturaID" readonly type="hidden" required />
                <div style="grid-template-columns: repeat(4, 1fr)" class="input-content grid">
                    <div class="each-input">
                        <button style="max-width: none" type="submit">Confirmar</button>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

<script src="~/js/select.js" />