@namespace PROJ_UNIVERSIDADE.Models
@{
    Layout = "_base";

    var recibo = (InscricaoRecibo)ViewBag.recibo;

    ViewData["Title"] = "Recibo de inscrição de " + recibo.NomeCompleto;
}

<link href="~/css/form.css" rel="stylesheet" />

@if (recibo != null)
{
    <div class="global-container">
        <div class="form-container">
            <div class="title">
                <strong>Informações da inscrição</strong>
            </div>
            <div class="form-content large">
                <div class="label-content col">
                    <div class="each-label">
                        <p>Nome completo:</p>
                        <strong>@recibo.NomeCompleto</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Número da inscrição:</p>
                        <strong>@recibo.InscritoID</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Telefone:</p>
                        <strong>@recibo.Telefone</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Ano letivo:</p>
                        <strong>@recibo.AnoInicio - @recibo.AnoFim</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Curso:</p>
                        <strong>@recibo.Curso</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Periodo:</p>
                        <strong>@recibo.Periodo</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Valor da inscrição:</p>
                        <strong>@recibo.Valor</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="title">
                <strong>Dados para o pagamento</strong>
            </div>
            <div class="form-content">
                <div class="label-content">
                    <div class="each-label">
                        <p>IBAN:</p>
                        <strong>XXXX-XXXX-XXXX-XXXX</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Número de conta:</p>
                        <strong>XXXX-XXXX-XXXX-XXXX</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container">
            <div class="title">
                <strong>Informações sobre a matrícula</strong>
            </div>
            <div class="form-content">
                <div class="label-content">
                    <div class="each-label extra">
                        <ul>
                            <li>Fotocópia do bilhete de identidade</li>
                            <li>Certificado de habilitações literárias autenticado</li>
                            <li>Comprovativo de pagamento da matrícula (10000,00 kz)</li>
                            <li>Atestado médico</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="base-button">
        <a asp-controller="inscricao" asp-action="index">
            <p>Fechar</p>
        </a>
        <button type="button" onclick="window.print()">Imprimir</button>
    </div>
}
