@namespace PROJ_UNIVERSIDADE.Models
@model ModelMatriculaView
@{
    Layout = "_layout";
    ViewData["Title"] = "Matricular estudante";

    var inscrito = (Inscrito)ViewBag.inscrito;
}

<link href="~/css/form.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Informações do candidato</strong>
        </div>
        <form asp-controller="matricula" asp-action="index" class="form-content">
            <div style="grid-template-columns: repeat(4, 1fr)" class="input-content grid">
                <div class="each-input">
                    <p>Selecionar por</p>
                    <select asp-for="Consulta.Tipo" id="tipoSelect" onchange="trocarTipo()">
                        <option value="0">-- Selecionar --</option>
                        <option value="1">Número da inscrição</option>
                        <option value="2">Nome completo</option>
                    </select>
                </div>
                <div class="each-input col">
                    <p id="textLabel">Identificação</p>
                    <input asp-for="Consulta.Identificacao" required type="text" id="textInput" placeholder="Identificação" />
                </div>
                <div class="each-input">
                    <p style="opacity: 0">Pesquisar</p>
                    <button style="max-width: none" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
        @if (inscrito != null)
        {
            <div class="form-content large">
                <div class="label-content col">
                    <div class="each-label">
                        <p>Nome completo:</p>
                        <strong>@inscrito.NomeCompleto</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Número da matrícula:</p>
                        <strong>@inscrito.InscritoID</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Telefone:</p>
                        <strong>@inscrito.Telefone</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Ano letivo:</p>
                        <strong>@inscrito.AnoInicio - @inscrito.AnoFim</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Curso:</p>
                        <strong>@inscrito.Curso</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Periodo:</p>
                        <strong>@inscrito.Periodo</strong>
                    </div>
                </div>
                <div class="label-content">
                    <div class="each-label">
                        <p>Valor:</p>
                        <strong>@inscrito.Valor</strong>
                    </div>
                </div>
            </div>
            <form asp-controller="matricula" asp-action="ConfirmarMatricula" class="form-content">
                <input name="inscritoId" value="@inscrito.InscritoID" readonly type="hidden" required />
                <div style="grid-template-columns: repeat(4, 1fr)" class="input-content grid">
                    <div class="each-input">
                        <button style="max-width: none" type="submit">Confirmar</button>
                    </div>
                </div>
            </form>
        }
    </div>
    @* <div class="form-container">
        <div class="title">
            <strong>Dados do curso do estudante</strong>
        </div>
        <div class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Ano letivo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Campus</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Faculdade</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Cursos</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Periodo</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
                <div class="each-input">
                    <p>Ano</p>
                    <select>
                        <option>-- Selecionar --</option>
                    </select>
                </div>
            </div>
        </div>
    </div> *@
</div>

<script src="~/js/select.js" />