@namespace PROJ_UNIVERSIDADE.Models
@model ConsultaSemIdentificacao
@{
    Layout = "_layout";
    ViewData["Title"] = "Lista de estudantes matriculados";

    var listarCampus = ViewBag.listarCampus as List<Campus>;
    var listarFaculdades = ViewBag.listarFaculdades as List<Faculdade>;
    var listarCursos = ViewBag.listarCursos as List<Curso>;
    var listarPeriodos = ViewBag.listarPeriodos as List<Periodo>;
    var listarAnoLetivo = ViewBag.listarAnoLetivo as List<AnoLetivo>;

    var matriculados = ViewBag.matriculados as List<ListaMatriculados>;
}

<link href="~/css/form.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet" />

<div class="global-container">
    <div class="form-container">
        <div class="title">
            <strong>Lista de estudantes matriculados</strong>
        </div>
        <form asp-controller="matricula" asp-action="lista" class="form-content">
            <div class="input-content">
                <div class="each-input">
                    <p>Ano letivo</p>
                    <select asp-for="AnoLetivo">
                        <option value="-1">-- Selecionar --</option>
                        @if (listarAnoLetivo != null)
                        {
                            @foreach (var each in listarAnoLetivo)
                            {
                                <option value="@each.AnoLetivoID">@each.AnoInicio-@each.AnoFim</option>
                            }
                        }
                    </select>
                </div>
                <div class="each-input">
                    <p>Campus</p>
                    <select onchange="carregarFaculdades(this.value)" asp-for="CampusID">
                        <option value="-1">-- Selecionar --</option>
                        @if (listarCampus != null)
                        {
                            @foreach (var campus in listarCampus)
                            {
                                <option value="@campus.CampusID">@campus.Nome</option>
                            }
                        }
                    </select>
                </div>
                <div class="each-input">
                    <p>Faculdade</p>
                    <select id="faculdadeSelect" asp-for="FaculdadeID" onchange="carregarCursosFaculdade(this.value)">
                        <option value="-1">-- Selecionar --</option>
                        @if (listarFaculdades != null)
                        {
                            @foreach (var each in listarFaculdades)
                            {
                                <option value="@each.FaculdadeID">@each.Nome</option>
                            }
                        }
                    </select>
                </div>
                <div class="each-input">
                    <p>Cursos</p>
                    <select id="cursoSelect" asp-for="CursoID">
                        <option value="-1">-- Selecionar --</option>
                        @if (listarCursos != null)
                        {
                            @foreach (var each in listarCursos)
                            {
                                <option value="@each.CursoID">@each.Nome</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="input-content">
                <div class="each-input">
                    <p>Periodo</p>
                    <select asp-for="PeriodoID" required>
                        <option value="-1">-- Selecionar --</option>
                        @if (listarPeriodos != null)
                        {
                            @foreach (var each in listarPeriodos)
                            {
                                <option value="@each.PeriodoID">@each.Nome</option>
                            }
                        }
                    </select>
                </div>
                <div class="each-input">
                    <p>Data início</p>
                    <input asp-for="dataInicio" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="each-input">
                    <p>Data fim</p>
                    <input asp-for="dataFim" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />

                </div>
                <div class="each-input">
                    <p style="opacity: 0">Pesquisar</p>
                    <button style="max-width: none" type="submit">Carregar</button>
                </div>
            </div>
        </form>
    </div>
    @if (matriculados != null)
    {
        <form class="table-container" asp-controller="matricula" asp-action="buscar">
            <div class="table-content">
                <table>
                    <thead>
                        <tr>
                            <th>Nº de matrícula</th>
                            <th>Nome</th>
                            <th>Telefone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var each in matriculados)
                        {
                            <input name="inscritoId" value="@each.InscritoID" readonly type="hidden" required />
                            <tr>
                                <td>@each.MatriculaID</td>
                                <td>@each.NomeCompleto</td>
                                <td>@each.Telefone</td>
                                <td>
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                                            <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1" />
                                            <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1" />
                                        </svg>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    }
</div>

<script src="~/js/select.js" />